body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 231, 231) ;
}
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    
}
h2 {
    color: rgb(51, 30, 3);
}
.jumbotron {
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../img/pexels-michael-burrows-7125626.jpg);
    background-size: cover;
    color: rgb(238, 231, 231);
    text-align: center;
    font-family: cursive;
}

.body {
    margin: 30px 0;

}

.bg-light {
    background-color: rgb(238, 231, 231) !important;
}

.site-footer {
    padding: px 0;
    background-color: rgb(221, 205, 184);
}

.site-footer a {
    color: rgb(0,0,0,.5);
}

.site-footer a:hover {
    color: black;
}

.primary-btn {
    color: white;
    background-color: rgb(90, 56, 12);
    border-color: rgb(90, 56, 12);
}
.secondary-btn {
    color: white;
    background-color: rgb(233, 181, 133);
    border-color: rgb(233, 181, 133);
}
.image-fluid{
    max-width: 100%;
    height: auto;
    max-height: 800px;
}
.aboutus {
    background-color: rgb(228, 188, 143);
    max-height: 800px;
}

 .carousel-inner img {
    height: 400px; width: 200px;
}

.carousel-inner img {
     margin: auto; 
}